body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header {
  width: 1000px;
  margin-left: calc(50% - 500px);
}
.logo {
  margin-left: 30px;
  float: left;
  height: 80px;
  object-position: left;
  object-fit: cover;
}
.content {
  display: inline-block;
  width: 1000px;
  margin-left: calc(50% - 500px);

}
.principal {
  float: left;
  width: 100%;
  padding: 130px;
  background-color: red;
  background-image: url(../img/laivelis.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  text-align: left;
  border-top:  4px solid red;
  border-bottom:  4px solid red;
  
}
.text-principal {
  float: left;
  background-color:#E4E5E4
  width: 60%;
  margin-left: 400px;
  line-height: 3em;
  text-align: left;
}
.title {
  font-size: 70px;
  margin-bottom: 10px;
  font-weight: normal;
  float: inline-end;
}
.information {
  float: left;
  font-size: 20px;
  line-height: 1em;
  margin-bottom: 80px;
}
.explanation {
  width: 50%;
  font-size: 15px;
  margin-left: 30px;
  float: left;

  margin-bottom: 30px;
}

.explanation-link {
  font-size: 15px;
  text-decoration: none;
  color: blueviolet;
  line-height: 1em;
}
.variant-first {
  margin-top: 2em;
  line-height: 1em;
  margin-bottom: 2em;
}
.variant-second {
  line-height: 1em;
}
