body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}

body {
  font-family: serif;
}
header {
  width: 1000px;
  margin-left: calc(50% - 500px);
}
.logo {
  margin-left: 30px;
  float: left;
  height: 80px;
  object-position: left;
  object-fit: cover;
}
.content {
  display: inline-block;
  width: 1000px;
  margin-left: calc(50% - 500px);
}
.principal {
  float: left;
  width: 100%;
  padding: 130px;
  background-color: red;
  background-image: url(../img/laivelis.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  text-align: left;
  border-top: 4px solid rgb(184, 56, 56);
  border-bottom: 4px solid rgb(184, 56, 56);
  object-fit: contain;
}
.text-principal {
  float: left;
  background-color: #e4e5e4;
  width: 60%;
  margin-left: 420px;
  line-height: 3em;
  text-align: left;
}
.title {
  font-size: 80px;
  margin-bottom: 30px;
  font-weight: normal;
  float: inline-end;
}
.information {
  float: left;
  font-size: 20px;
  line-height: 1em;
  margin-bottom: 80px;
}
.explanation {
  width: 50%;
  font-size: 10px;
  margin-left: 30px;
  float: left;
  margin-top: 30px;
  margin-bottom: 10px;
}

.explanation-link {
  text-decoration: none;
  color: rgb(19, 77, 110);
  line-height: 2em;
}
.variant-first {
  margin-top: 1em;
  line-height: 2em;
  margin-bottom: 1em;
}

.support {
  color: rgb(19, 77, 110);
  text-decoration: none;
}
